# toolchain ignores
toolchain/MeetiXOSProject
toolchain/Local
toolchain/build
toolchain/i686/**.tar.*

**/.changes

# source ignores
source/env.sh
source/**/bin
source/**/obj
source/**/.changes
source/**/EvaLoader
source/**/EvangelionNG
source/MXfs/cmd/*
source/MXfs/sys/eva/module/*
source/MXfs/sys/eva/server/*
source/MeetiXOS.iso
