/Toolchain/Local/
/Toolchain/Build
/Build
/env.sh
/MeetiXOS.iso
/Userspace/applications/calculator/.changes
/Userspace/applications/calculator/obj/
/Userspace/applications/CandyNote/obj/
/Userspace/applications/CandyNote/.changes
/Userspace/applications/CandyShell/obj/
/Userspace/applications/CandyShell/.changes
/Userspace/applications/CandyTerminal/obj/
/Userspace/applications/CandyTerminal/.changes
/Userspace/applications/Gurf/.changes
/Userspace/applications/MXLogin/.changes
/Userspace/applications/exec/obj/
/Userspace/applications/exec/.changes
/Userspace/applications/Gurf/obj/
/Userspace/applications/MXLogin/obj/
/Userspace/applications/OsmosUI/obj/
/Userspace/applications/OsmosUI/.changes
/Userspace/applications/UItweak/obj/
/Userspace/applications/UItweak/.changes
/Userspace/applications/welcome/obj/
/Userspace/applications/welcome/.changes
/Userspace/commands/ename/obj/
/Userspace/commands/ename/.changes
/Userspace/commands/find/.changes
/Userspace/commands/cp/.changes
/Userspace/commands/echo/obj/
/Userspace/commands/fspech/.changes
/Userspace/commands/fspech/obj/
/Userspace/commands/cpudet/obj/
/Userspace/commands/gzip/obj/
/Userspace/commands/echo/.changes
/Userspace/commands/cpudet/.changes
/Userspace/commands/find/obj/
/Userspace/commands/cp/obj/
/Userspace/commands/gzip/.changes
/Userspace/commands/idle/obj/
/Userspace/commands/idle/.changes
/Userspace/commands/js/obj/
/Userspace/commands/js/.changes
/Userspace/commands/kill/obj/
/Userspace/commands/kill/.changes
/Userspace/commands/ls/.changes
/Userspace/commands/ls/obj/
/Userspace/commands/mx/obj/
/Userspace/commands/mx/.changes
/Userspace/commands/ntf/obj/
/Userspace/commands/ntf/.changes
/Userspace/commands/pcitool/.changes
/Userspace/commands/pcitool/obj/
/Userspace/commands/power/obj/
/Userspace/commands/power/.changes
/Userspace/commands/ps/obj/
/Userspace/commands/ps/.changes
/Userspace/commands/rd/obj/
/Userspace/commands/rd/.changes
/Userspace/commands/stress/obj/
/Userspace/commands/stress/.changes
/Userspace/commands/ts/obj/
/Userspace/commands/ts/.changes
/Userspace/commands/wr/obj/
/Userspace/commands/wr/.changes
/Userspace/servers/ps2/obj/
/Userspace/servers/ps2/.changes
/Userspace/servers/spawner/obj/
/Userspace/servers/spawner/.changes
/Userspace/servers/time/obj/
/Userspace/servers/time/.changes
/Userspace/servers/vbe/obj/
/Userspace/servers/vbe/.changes
/Userspace/servers/zipNET/obj/
/Userspace/servers/zipNET/.changes
/Kernel/.changes
/Kernel/bin/
/iso/boot/EvaLoader
/iso/boot/EvangelionNG
/iso/boot/Root.img
/Root/app/calculator/bin/calculator
/Root/app/CandyNote/bin/CandyNote
/Root/app/CandyShell/bin/CandyShell
/Root/app/CandyTerminal/bin/CandyTerminal
/Root/app/exec/bin/exec
/Root/app/Gurf/bin/Gurf
/Root/app/MXLogin/bin/MXLogin
/Root/app/OsmosUI/bin/OsmosUI
/Root/app/UItweak/bin/UItweak
/Root/app/welcome/bin/welcome
/Root/cmd/cp
/Root/cmd/cpudet
/Root/cmd/echo
/Root/cmd/ename
/Root/cmd/find
/Root/cmd/fspech
/Root/cmd/gzip
/Root/cmd/idle
/Root/cmd/kill
/Root/cmd/ls
/Root/cmd/mx
/Root/cmd/pcitool
/Root/cmd/power
/Root/cmd/ps
/Root/cmd/rd
/Root/cmd/stress
/Root/cmd/ts
/Root/cmd/wr
/Root/sys/eva/server/ps2.sv
/Root/sys/eva/server/spawner.sv
/Root/sys/eva/server/time.sv
/Root/sys/eva/server/vbe.sv
/Root/sys/eva/server/zipNET.sv
/Root/sys/eva/module/smpstart.eko

