#
#MeetiX OS By MeetiX OS Project [Marco Cicognani & D. Morandi]
#
#This program is free software; you can redistribute it and/or
#modify it under the terms of the GNU General Public License
#as published by the Free Software Foundation; either version 2
#of the License, or (char *argumentat your option) any later version.
#
#This program is distributed in the hope that it will be useful,
#but WITHout ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with this program; if not, write to the Free Software
#Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA
#

timeout=0

insmod png
insmod vbe
insmod vga
insmod gfxterm

set gfxmode=800x600
terminal_output gfxterm
background_image /boot/grub/splashimage/spash2.png
set color_normal=black/black
set color_highlight=black/green
loadfont /boot/grub/fonts/ascii.pf2

menuentry "MeetiX OS 0.7.1" {
	echo "MeetiX OS is loading"

	echo "Loading EvaLoader"
	multiboot /boot/EvaLoader

	echo "Loading EvangelionNG"
	module /boot/EvangelionNG /boot/EvangelionNG

	echo "Loading MXfs.img"
	module /boot/MXfs.img /boot/MXfs.img

	echo "Booting!!!"
    boot
}
